/* GENERAL */


/* Permet de toucher tous les éléments de notre site */

* {
    margin: 0 auto;
    padding: 0 auto;
}


/* SPECIALE FONT: 
font-family: 'Limelight', cursive; */

body {
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    background: url('images/background.jpg');
    /* background: url('images/background.jpg') center; */
    /* background-image: url(images/background.jpg); */
    /* background-size: cover; */
    font-family: 'Limelight', cursive, arial;
    /* font-size: 15px; */
}


/* HEADER */

header {
    text-align: center;
    color: white;
}

header h1 {
    height: 50px;
    margin: 2px;
    padding-top: 30px;
}


/* BODY */


/* main_display */

#main_display .wrapper {
    margin: 0 auto;
    margin-top: 174px;
    width: 700px;
    height: 500px;
    padding: 0 10px;
    /* background: url('images/bw-image.jpg') no-repeat; */
    background-image: url('images/bw-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /* background: transparent; */
    /* background-image: url(images/bw-image.jpg); */
    /* background-size: cover; */
    /* font-family: 'Limelight', cursive, arial; */
}

#main_display .box {
    display: block;
    position: relative;
    /* display: flex; */
    justify-content: center;
    /*justify-content: flex-end;*/
    /*justify-content: space-between;*/
    /*border: 3px solid black;*/
}

#main_display .box1 {
    width: 140px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('images/color-image.jpg');
    background-repeat: no-repeat;
    background-position-x: 0px;
    /* background: transparent; */
    background-size: 0;
}

#main_display .box2 {
    width: 140px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 140px;
    background-image: url('images/color-image.jpg');
    background-repeat: no-repeat;
    background-position-x: -140px;
    /* background: transparent; */
    background-size: 0;
}

#main_display .box3 {
    width: 140px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 280px;
    background-image: url('images/color-image.jpg');
    background-repeat: no-repeat;
    background-position-x: -280px;
    /* background: transparent; */
    background-size: 0;
}

#main_display .box4 {
    width: 140px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 420px;
    background-image: url('images/color-image.jpg');
    background-repeat: no-repeat;
    background-position-x: -420px;
    /* background: transparent; */
    background-size: 0;
}

#main_display .box5 {
    width: 140px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 560px;
    background-image: url('images/color-image.jpg');
    background-repeat: no-repeat;
    background-position-x: -560px;
    /* background: transparent; */
    background-size: 0;
}

#main_display .framebox {
    width: 140px;
    height: 250px;
    margin-top: 250px;
    display: none;
    /* position: relative; */
    background-color: white;
}

#main_display .framebox h4 {
    text-align: center;
    font-size: larger;
    /* color: white; */
}

#main_display .framebox h5 {
    text-align: center;
    background-color: crimson;
    color: white;
}

#main_display .framebox p {
    text-align: center;
    /* color: white; */
}


/* main_menu */

#main_menu .wrapper {
    margin: 0 auto;
    margin-top: 174px;
    width: 1080px;
}

#main_menu .flex {
    display: flex;
    justify-content: center;
    /*justify-content: flex-end;*/
    /*justify-content: space-between;*/
    /*border: 3px solid black;*/
}

#main_menu .flex1 {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    background-color: dimgrey;
    border: 2px solid lightcoral;
    border-radius: 2px;
    box-shadow: dimgrey;
}

#main_menu .flex1 .frame1 {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
}

#main_menu .flex1 .frame2 {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
}

#main_menu .flex1 .frame3 {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
}

#main_menu .flex1 .frame4 {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
}

#main_menu .flex1 .frame5 {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    padding: 0px;
}

#main_menu .flex1 h4 {
    text-align: center;
    color: white;
}


/* FOOTER */

footer {
    /*position: fixed;*/
    /*bottom: 0px;*/
    /*height: 100px;*/
    /* background-color: #555; */
    /* color: #eee; */
    /* text-align: center; */
    /* font-size: 1em; */
}